/*================== Configurações Gerais ===========================*/
*{margin: 0;
  padding: 0; 
  font-size:1em; 
  width: 100%;
}
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}
/*================== Container Principal =============================*/
.container{
  border: 1px solid red;
  display: flex;
  height: auto;
}
#menu{
  border: 1px solid #000;
  width: 0;
}
#conteudo{
  border: 1px solid #000;
  width: 100%;
  height: auto;
  background-color: #ccc;
  display: flex;
  flex: 1 1 300px;
  flex-wrap: wrap;
}
/*================== Botões ====================================*/
#contraction, #expansion{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, crimson, orange);  
}
/*================== Tela Direita ====================================*/
#menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
}
.perfil .img_perfil{
  width: 60% !important;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  box-shadow: 1px 2px 5px 2px #ccc;
}
#contraction{
  
}
/*================== Tela Esquerda ===================================*/
#expansion{
  
}
/*================== Classes para controle JS ========================*/
.expansion{
  width: 70% !important;
}
.contraction{
  
}