/*================== Configurações Gerais ===========================*/
*{margin: 0;  padding: 0;   font-size:1em;   width: 100%;
  /*border: 1px solid red;*/
}
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}
/*================== Container Principal =============================*/
main{
  width: 90%;
  margin: 0 auto;
}
.container{  
  display: flex;
}
#menu{
  width: 0;
  opacity: 0;
}
/*================== Botões ====================================*/
#contraction, #expansion{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 1.9rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, crimson, orange);  
  z-index: 1;  
}
#expansion{
  position: fixed;
}
/*================== Tela Direita ====================================*/
#menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  transition: 1s;
  background-color: #eee;
}
.img_perfil{
  width: 60% !important;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  padding: 2px;
  background-color: #ccc;
}
/*---------- Class info ----------*/
.info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info h2{
  text-align: center;
  border-bottom: 2px solid tomato;
  width: 80%;
  font-size: 1.6rem;
  padding: 10px;
  margin: 0 auto;
}
.info p{
  font-size: 0.9rem;
  text-align: center !important;
  padding: 20px 0px; 
  width: 200px;
  margin: 0 auto;
}
.info-lista ul{
  width: 75%;
  margin: 10px auto;
}
.info-lista ul li{
  padding: 10px 5px;
}
.info-lista ul li:hover{
  border-bottom: 2px solid tomato;
}
.info-lista ul li a{
  display: flex;
}
.info-lista ul li a i{
  display: inline-flex;
  justify-content: flex-end;
  font-size: 1.6em;
}

/*================== Tela Esquerda ===================================*/
#conteudo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  transition: 1s;
  background-color: #ccc;
}
/*---------- Sobre ----------*/
#Sobre, #Projetos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 10px;
}
#Sobre{
  width: 100%;  
  box-sizing: border-box;
  align-items: flex-start;
  margin-left: 10px;
  width: 95%;
  text-align: justify;
  background-color: #eee;
  border-radius: 20px; 
  /*margin-left: -50px;
  opacity: 0;
  transition: all 1s;*/
}
#Sobre h1:first-child{
  margin-top:10px; 
}
.sobre-titulo{
  padding: 2px;
  color: 		#4F4F4F;
  font-size: 1.2rem;
}
.sobre-paragrafo{
  font-size: 0.9rem;
  padding-top: 10px;
}
#Projetos aside{
  border-bottom: 5px solid tomato;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  width: 90%;
  margin: 10px 0px;
  font-size: 1.2rem;
}
#Projetos aside i{
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: tomato;
}
#Projetos .projetos02 i{
  color: #778899;
}

/*---------- Botóes ----------*/
#botoes{
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
}
/* bolas  */
#botoes {
  margin-top: -45%;
  z-index: 3;
}
#botoes li{
  background: #fff;
  border: 2px solid orange;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}
.selected{
 background-color: orange !important;
}
/*================== Classes para controle JS ========================*/
.expansion{
  width: 70% !important;
}
/*================== Media Querias WIDE SCREEN =====================*/
@media screen and (min-width: 980px){
  #contraction, #expansion{
    display: none !important;    
  } 
  #menu{
    width: 28% !important;    
    opacity: 1 !important;
    display: inline-flex;
  }
  #conteudo{
    width: 70% !important;    
  }
}