/*================== Configurações Gerais ===========================*/
*{margin: 0;  padding: 0;   font-size:1em;   width: 100%;
  /*border: 1px solid red;*/
}
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}
/*================== Container Principal =============================*/
main{
  width: 90%;
  margin: 0 auto;
}
.container{  
  display: flex;
}
#menu{
  width: 0;
  opacity: 0;
}
/*================== Botões ====================================*/
#contraction, #expansion{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 1.9rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, crimson, orange);  
  z-index: 1;  
}
#expansion{
  position: fixed;
}
/*================== Tela Direita ====================================*/
#menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  transition: 1s;
  background-color: #eee;
}
.img_perfil{
  width: 60% !important;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  padding: 2px;
  background-color: #ccc;
}
/*---------- Class info ----------*/
.info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info h2{
  text-align: center;
  border-bottom: 2px solid tomato;
  width: 80%;
  font-size: 1.6rem;
  padding: 10px;
  margin: 0 auto;
}
.info p{
  font-size: 0.9rem;
  text-align: center !important;
  padding: 20px 0px; 
  width: 200px;
  margin: 0 auto;
}
.info-lista ul{
  width: 75%;
  margin: 10px auto;
}
.info-lista ul li{
  padding: 10px 5px;
}
.info-lista ul li:hover{
  border-bottom: 2px solid tomato;
}
.info-lista ul li a{
  display: flex;
}
.info-lista ul li a i{
  display: inline-flex;
  justify-content: flex-end;
  font-size: 1.6em;
}

/*================== Tela Esquerda ===================================*/
#conteudo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  transition: 1s;
  background-color: #ccc;
}
#conteudo-geral{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*---------- Sobre ----------*/
#Sobre, #Projetos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
#Sobre{ 
  box-sizing: border-box;
  align-items: flex-start;
  margin-left: 10px;
  width: 90%;
  text-align: justify;
  background-color: #eee;
  border-radius: 10px 0; 
}
#Sobre h1:first-child{
  margin-top:10px; 
}
.sobre-titulo{
  padding: 2px;
  color: 		#4F4F4F;
  font-size: 1.2rem;
}
.sobre-paragrafo{
  font-size: 0.9rem;
  padding-top: 10px;
}
/*---------- Projetos ----------*/
#Projetos aside, #Academico, #Cursos{
  border-bottom: 5px solid tomato;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  width: 90%;
  margin: 10px 0px;
  font-size: 1.2rem;
}
#Projetos aside:last-child{
  border-bottom-color: #778899; 
}
#Projetos aside i{
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: tomato;
}
#Projetos .projetos02 i{
  color: #778899;
}
/*---------- Academico ----------*/
#Academico, #Cursos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 40px 0px 10px 10px; 
  border-bottom: 5px solid blue;  
}
#Academico i, #Cursos .icone i{
  transform: rotate(-46deg);
  color: #fff;
  padding: 6px 4px;
}
#Academico h3{
  text-align: center;
  font-size: 1.1rem;
  padding: 30px 0px;
}
#Academico p{
  text-align: justify;
  font-size: 1rem;
}
/*---------- Experiência ----------*/
#Experiencia{
  display: flex;
  width: 90%;
  height: auto;
  margin-top: 20px;
  position: relative;
}
#Experiencia .linha{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  text-align: center;
  padding-top: 10px;
  width: 35%;
}
#Experiencia .linha i{
  color: #fff;
  background-color: #00f;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 4px solid #fff;
  z-index: 3;  
}
#Experiencia .linha i:nth-child(2n+1){
  margin-top: 13rem; /* Modificar com JS*/
  background-color: tomato;
}
#Experiencia .linha-vertical{
  width: 8px;
  height: 200px;
  position: absolute;
  background-color: #fff;
  height: 20rem;
}
#Experiencia .descricao{
  
}
#Experiencia h3{
  display: inline-block;
}
.ano{
  font-size: 0.8rem;
  color: #ccc;
  margin-left: 15px;
}
#Experiencia .descricao-empresa{
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 10px;
  text-align: justify;
  position: relative;
}
/*---------- Curso ----------*/
#Cursos i{
  font-size: 3rem;
  text-align: center;
}
#Cursos{
  border-bottom: none;
  background-color: #ccc;
  border: 4px solid #fff;
}
#Cursos .icone{
  z-index: 2;
}
.curso{
  padding: 12px 15px;
  border-bottom: 4px solid tomato;
  background-color: #fff;
  margin-top: 5px;
}
.curso h4{
  text-align: center;
  border-bottom: 2px solid tomato;
  padding-bottom: 2px;
}
.curso strong{
  font-size: 0.9rem;
  display: block;
}
.curso p{
  text-align: justify;
  font-size: 1.1rem;
}
.curso em{
  font-size: .9rem;
}
.curso:nth-child(2n+1){
  border-bottom: 4px solid blue;
}
.curso:nth-child(2n+1) h4{
  border-bottom: 2px solid blue;
}
.descricao-empresa::after{
  content: "";
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}
.icone{
  width: 60px;
  height: 60px;
  position: absolute;
  transform: rotate(46deg);
  background-color:  #00f;
  top: -30px;;
}

/*---------- Botóes ----------*/
#botoes{
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
}
/* bolas  */
#botoes {
  margin-top: -45%;
  z-index: 3;
}
#botoes li{
  background: #fff;
  border: 2px solid orange;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}
.selected{
 background-color: orange !important;
}
/*================== Classes para controle JS ========================*/
.expansion{
  width: 70% !important;
}
/*================== Animação ========================================*/
[data-anime]{
  opacity: 0;
  transition: 1s;
}
[data-anime="left"]{
  transform: translate3d(-50px,0,0);
}
[data-anime="right"]{
  transform: translate3d(50px,0,0);
}
[data-anime].animate{
  opacity: 1;
  transform: translate3d(0,0,0);
}


/*================== Media Querias WIDE SCREEN =======================*/
@media screen and (min-width: 980px){
  #contraction, #expansion{
    display: none !important;    
  } 
  #menu{
    width: 28% !important;    
    opacity: 1 !important;
    display: inline-flex;
  }
  #conteudo{
    width: 70% !important;    
  }
}
@media screen and (min-width: 720px){
  #Experiencia .linha{
    width: 20%;
  }
}